<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body" style="padding-top: 100px">
        <br><br>
        <div class="container">
            <div class="container has-text-centered">
                <h1 class="title has-text-black has-text-weight-bold is-size-1">About Us</h1>
                <br><br>
                <p style="line-height: 200%">
                    <img src="/assets/images/dblogo.png" height="40px" width="180px" style="vertical-align: middle;" />의 후원으로 설립된 한양보험학회는<br>
                    보험 산업의 전문자격증인 <b>보험계리사 자격증과 손해사정사</b> 자격증 등을 준비하고<br>
                    보험 전반에 관한 연구를 진행하며<br>
                    보험 분야에 대해 보다 깊이 있는 학습을 위해 설립된 학회입니다.<br>
                    21세기 금융업의 중심이 되는 보험산업을 이끌어 나갈 인재를 양성하는 곳으로<br>
                    보험전문인의 자격을 갖추기 위해 <b>보험 관련 사회 현상을 분석, 토론</b>하고<br>
                    교내 학우들과 교류 및 현재 업계에 계신 선배님들과 만남을 통해<br>
                    <b>한양대학교 네트워크</b>를 형성하는 것이 주된 목표입니다.<br>
                </p>
            </div>
            
            <br><br><br><br>

            <div class="has-text-centered">
                <h3 class="title has-text-black has-text-weight-bold is-size-3">Our Story</h3>
                <br>
                <img src="/assets/images/history2.png" object-fit="cover" width="80%" />
            </div>
        </div>
    </div>
</section>
