<head>
    <style>
        .border-right {
            border-right: 2px solid #dcdcdc; /* 세로선 색상 */
        }

        .columns .column:last-child {
            border-right: none; /* 마지막 column에는 선 제거 */
        }
    </style>
</head>
<section class="hero is-fullheight has-text-centered has-background-white-ter" id="activity">
    <div class="hero-body" style="padding-top: 100px">
        <br><br>
        <div class="container">
            <div class="container has-text-centered">
                <h1 class="title has-text-black has-text-weight-bold is-size-1">Acitivity</h1>
                <h5 class="title has-text-black has-text-weight-bold is-size-5"> HIS Curriculum</h5>
                <br><br>
                
                <br><br>
                <div class="container" style="padding-top: 50px">
                    <h1 class="subtitle has-text-black is-size-3">학기 정기활동</h1>
                    <br>
                    <div class="columns">
                        <div class="column has-text-centered is-marginless border-right" width="33%">
                            <h3 class="has-text-black has-text-weight-semibold">1. 정기발표</h3>
                            <br>
                            <p>
                                정규 학기 기간 동안 학회원 2인 1조를 꾸려<br>
                                매주 보험∙경제 분야의 이슈 발표 진행<br>
                                보험 트렌드 분석을 통한 이슈 학습과<br>
                                경제 시사 상식의 꾸준한 팔로업을 목표로 함
                            </p>
                        </div>
                        <div class="column has-text-centered is-marginless border-right" width="33%">
                            <h3 class="has-text-black has-text-weight-semibold">2. 학회 내 공모전</h3>
                            <br>
                            <p>
                                보험 관련 아이디어 기획안을 양식에 맞춰 작성하여 발표<br>
                                지도 교수님, 현직자 선배님 등 유관 담당자가 평가
                            </p>
                        </div>
                        <div class="column has-text-centered is-marginless" width="auto">
                            <h3 class="has-text-black has-text-weight-semibold">3. 분야별 세션</h3>
                            <br>
                            <p>
                                상품계리, 언더라이팅 팀을 나누어 활동<br>
                                ​각 분야에 있어 필요한 스킬 및 심화 학습 진행<br>
                                ​하단 참조
                            </p>
                        </div>
                    </div>
                    <br><br>
                    <div class="columns" style="padding-top: 50px; padding-bottom: 50px">
                        <div class="column has-text-centered is-marginless border-right" width="50%">
                            <h3 class="title has-text-weight-bold has-text-black is-size-3">Actuarial Team Session</h3>
                            <br>
                            <p>
                                IFRS 17 Study<br>
                                Excel & VBA Study<br>
                                Actuarial Mathmatics Stucy<br>
                                etc...
                            </p>
                        </div>
                        <div class="column has-text-centered is-marginless" width="50%">
                            <h3 class="title has-text-weight-bold has-text-black is-size-3">UnderWriting Team Session</h3>
                            <br>
                            <p>
                                Re Insurence Study<br>
                                Global Insurence market Study<br>
                                CPCU & Loss Adjuster Syudy<br>
                                etc...
                            </p>
                        </div>
                    </div>

                    <br><br>
                    <h1 class="subtitle has-text-black is-size-3">방학 정기활동</h1>
                    <br>
                    <div class="columns">
                        <div class="column has-text-centered is-marginless border-right" width="33%">
                            <h3 class="has-text-black has-text-weight-semibold">1. 하계 방학 활동</h3>
                            <br>
                            <p>
                                정규 학기 기간 동안 학회원 2인 1조를 꾸려<br>
                                보험 상품 시장에 대해서 분석<br>
                                펫보험, 건강보험, 재보험 등 보험시장에서<br>
                                중요한 역할을 하고있는 상품들을 시장규모에서 부터 회사단위의 깊은 분석을 통해 상품에 대한 이해도를 높이는 것을 목표로 함
                            </p>
                        </div>
                        <div class="column has-text-centered is-marginless border-right" width="33%">
                            <h3 class="has-text-black has-text-weight-semibold">2. 방학 연합 세미나</h3>
                            <br>
                            <p>
                                성균보험학술회 및 이화보험학회와<br> 
                                함께 연합 세미나 진행<br>
                                각 학회에서의 연구 및 학습내용을 공유, 토론<br>
                                ​보험업계 네트워크 형성<br>
                                및 선의의 경쟁을 통한 성장을 목표로 함
                            </p>
                        </div>
                        <div class="column has-text-centered is-marginless" width="auto">
                            <h3 class="has-text-black has-text-weight-semibold">3. 동계 방학활동</h3>
                            <br>
                            <p>
                                DB IFC(DB 보험금융공모전) 출품<br>
                                한해 동안 공부한 보험에 대한 내용들을 갈무리하여<br> 
                                본인만의 독창적인 아이디어를 논문형식으로 출품<br>
                                ​보험의 설계와 논문의 작성이라는 경험을 통해<br> 
                                보다 깊은 보험업에 대한 이해도를 쌓는것을 목표로 함
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
