<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container" style="padding-top: 100px">
            <h1 class="title has-text-black has-text-weight-bold is-size-1">Contact</h1>
            <div class="columns" style="padding-top: 50px">
                <div class="column has-text-left has-text-black is-marginless" width="50%">
                    <h1 class="title has-text-weight-bold has-text-black is-size-3">Address</h1>
                    <hr>
                    <p>대한민국 서울특별시 성동구 왕십리로 222</p>
                </div>
                <div class="column has-text-left has-text-black is-marginless" width="50%">
                    <h1 class="title has-text-weight-bold has-text-black is-size-3">Advisor</h1>
                    <hr>
                    <p>한양대학교 경영대학 전상경 교수님<br>
                        TEL. 02-2220-1650</p>
                </div>
            </div>

            <div class="container has-text-left" style="padding-top: 20px; padding-bottom: 20px">
                <h1 class="title has-text-weight-bold has-text-black is-size-3">Connect us</h1>
                    <hr>
                    <a href="https://open.kakao.com/o/s4aqKJ8f" class="has-text-weight-semibold">https://open.kakao.com/o/s4aqKJ8f</a>
            </div>

            
        </div>
    </div>
</section>
